	*	{
		font-family: 'EB Garamond', serif;
		margin:20px;
		padding: 5px;
		}
    body {
        background-color: rgb(246,244,240);
    }
	img	{
		border:0px solid white;
		border-radius:30px;
		}

	h1	{
		font-family:'Dancing Script', cursive;
		font-size:150px;
		}
	#diff{
		color:#707070;
		font-family: 'Lora', sans-serif;
        font-size: 220px;
        text-align: center;
		}
	div{
			font-size:20px;
		}
	#Name{
			color:#707070;
			font-style:'Lora', serif;
			text-align: center;
		 }
		 #timeline{
		 font-size: large;
		 }
	h2{
		color:#707070;
		font-family: 'Tangerine', cursive;
		font-size:80px;
		}

		.col2
		{
			column-count: 2;
			font-size: x-large;
			text-align: left;
		}